<%include ../partials/header.ejs %>
 
    <!--embedded contacts-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
<h1><%=title %><br>
<a class="btn btn-primary" href="/contact-list/add" role="button">
<i class="fa fa-plus-circle">Add a Favourite</i></a>
</h1>
<br>
<!--Header Row-->
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="text-center">Item Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Delete</th>
      
    </tr>
    <!--Repeatable Template Row-->
    <% for(let count=0; count< contactList.length;count++){%>
        <tr>
            <td class="text-center"><%=contactList[count].name%></td>
            <td class="text-center"><%=contactList[count].description%></td>
            <td class="text-center">
            <a href="/contact-list/edit/<%=contactList[count]._id%>"
            class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
            
            </td>
            <td class="text-center">
            <a href="/contact-list/delete/<%=contactList[count]._id%>"
            class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
            
            </td>
    
        </tr>
        <%}%>

</table>
            </div>
        </div>
    </div>
 <% include ../partials/footer.ejs%>